* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #e7131a;
}

.header .logo img {
  transform: scale(0.6);
  margin-left: -35px;
}

.header .others {
  display: flex;
  padding-right: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-right: 0px;
}

.header .others .buttons {
  display: flex;
}

.header .others .buttons .subscribe .Subscribe {
  padding: 10px 12px;
  background: #e7131a;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border: 3px white solid;
  border-radius: 3px;
  margin-right: 10px;
}

.header .others .buttons .search .btn {
  padding: 8px 12px;
  background: #e7131a;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 3px white solid;
  border-radius: 3px;
}

.header .others .hamburgersection .firstp {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 90px;
  background: white;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  position: relative;
  width: 80%;
  margin-left: 20px;
}

.header .others .hamburgersection .toggler {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 30px;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}

.header .others .hamburgersection .toggler:checked ~ .menu {
  visibility: visible;
}

.header .others .hamburgersection .hamburgerline {
  width: 15px;
  height: 2px;
  background: black;
  position: relative;
  top: -20px;
  left: 120px;
}

.header .others .hamburgersection .hamburgerline::before {
  content: "";
  width: 15px;
  height: 2px;
  background: black;
  position: absolute;
  top: -5px;
}

.header .others .hamburgersection .hamburgerline::after {
  content: "";
  width: 15px;
  height: 2px;
  background: black;
  position: absolute;
  top: 5px;
}

.header .others .hamburgersection .menu {
  background: #e7131a;
  visibility: hidden;
  position: absolute;
  top: 110px;
  right: 0px;
  width: 60%;
}

.header .others .hamburgersection .menu .menulist {
  color: white;
  font-size: 1.3rem;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.header .others .hamburgersection .menu .menulist p {
  color: white;
  font-size: 1.2rem;
  padding-top: 20px;
}

.header .others .hamburgersection .menu .menulist a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}
