* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #e7131a;
  width: 100%;
}

.header .logo img {
  transform: scale(0.6);
  margin-left: -40px;
}

.header .others {
  display: flex;
  padding-right: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-right: 0px;
}

.header .others .buttons {
  display: flex;
}

.header .others .buttons .subscribe .Subscribe {
  padding: 10px 12px;
  background: #e7131a;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border: 3px white solid;
  border-radius: 3px;
  margin-right: 10px;
}

.header .others .buttons .search .btn {
  padding: 8px 12px;
  background: #e7131a;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 3px white solid;
  border-radius: 3px;
}

.header .others .hamburgersection .firstp {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 90px;
  background: white;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  position: relative;
  width: 80%;
  margin-left: 20px;
}

.header .others .hamburgersection .toggler {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 30px;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}

.header .others .hamburgersection .toggler:checked ~ .menu {
  visibility: visible;
}

.header .others .hamburgersection .hamburgerline {
  width: 15px;
  height: 2px;
  background: black;
  position: relative;
  top: -20px;
  left: 120px;
}

.header .others .hamburgersection .hamburgerline::before {
  content: "";
  width: 15px;
  height: 2px;
  background: black;
  position: absolute;
  top: -5px;
}

.header .others .hamburgersection .hamburgerline::after {
  content: "";
  width: 15px;
  height: 2px;
  background: black;
  position: absolute;
  top: 5px;
}

.header .others .hamburgersection .menu {
  background: #e7131a;
  visibility: hidden;
  position: absolute;
  top: 110px;
  right: 0px;
  width: 60%;
  z-index: 3;
  padding-top: 0px;
}

.header .others .hamburgersection .menu .menulist {
  color: white;
  font-size: 1.3rem;
  padding-left: 20px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  overflow-x: hidden;
}

.header .others .hamburgersection .menu .menulist p {
  color: white;
  font-size: 1.2rem;
  padding-top: 20px;
}

.header .others .hamburgersection .menu .menulist a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

.More {
  width: 100%;
  height: 100%;
}

.More .moretext {
  width: 18%;
  height: 100%;
  padding: 15px;
  position: relative;
  cursor: pointer;
}

.More .moretext:hover {
  background: lightgray;
  border-radius: 3px;
}

.More .moretext .lettering {
  font-size: 1.1rem;
}

.More .moretext .fa-angle-down {
  position: absolute;
  top: 17.3px;
  left: 65px;
  font-size: 1.2rem;
  font-weight: 600;
}

.More .menuwrap .toggler {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 60px;
  opacity: 0;
  cursor: pointer;
  z-index: 4;
}

.More .menuwrap .toggler:checked ~ .menu {
  visibility: visible;
}

.More .menuwrap .menu {
  visibility: hidden;
  width: 100%;
  overflow-x: hidden;
}

.More .menuwrap .menu ul {
  position: relative;
  background: rgb(252, 250, 250);
  float: right;
  width: 30%;
}

.More .menuwrap .menu ul li {
  list-style: none;
  padding: 14px;
  border-bottom: 0.2px solid rgb(206, 200, 200);
  border-right: 0.2px solid rgb(206, 200, 200);
}

.More .menuwrap .menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.news {
  width: 100%;
  margin-top: -550px;
}

.news .headline {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 20px;
}

.news .headline .caption {
  width: 90%;
}

.news .headline .caption h1 {
  font-size: 1.3rem;
  font-family: "Cantarell", sans-serif;
}

.news .headlineimage {
  width: 480px;
  height: 280px;
}

.news .headlineimage img {
  width: 100%;
}

.news .others {
  width: 100%;
}

.news .others .feature {
  width: 98%;
}

.news .others .feature h2 {
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 5px;
  margin-top: 5px;
  border-bottom: 0.2px solid rgb(206, 200, 200);
}

.news .others .variety {
  width: 98%;
}

.news .others .variety .topics {
  width: 100%;
  padding: 10px 15px;
  border-bottom: 0.5px solid rgb(206, 200, 200);
  position: relative;
}

.news .others .variety .topics p {
  font-size: 9px;
  color: rgb(128, 118, 118);
  font-family: sans-serif;
  margin-top: 5px;
  font-style: italic;
}

.news .others .variety .topics h3 {
  font-size: 16px;
  font-weight: lighter;
  font-family: sans-serif;
  margin-top: 5px;
}

.news .others .variety .topics .circle {
  width: 10px;
  height: 10px;
  background: #e7131a;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -4px;
}

.videos {
  width: auto;
  background: rgb(235, 233, 233);
}

.videos .titlesection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.videos .titlesection .title {
  width: 100%;
}

.videos .titlesection .title p {
  color: #e7131a;
  font-weight: bolder;
  font-size: 20px;
}

.videos .titlesection .title img {
  color: red;
}

.videos .videostiles {
  display: flex;
  overflow-x: scroll;
}

.videos .videostiles .tiles {
  padding-right: 20px;
}

.videos .videostiles .tiles p {
  padding-bottom: 60px;
  font-size: 14px;
  text-align: left;
}

.firstadvert {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.firstadvert .adverttext {
  width: 100%;
}

.firstadvert .adverttext p {
  padding: 20px;
  font-size: 11px;
}

.firstadvert .advertvideo {
  width: 100%;
}

.learnmore {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid rgb(206, 200, 200);
}

.learnmore .btn {
  background: rgb(63, 61, 61);
  padding: 8px 25px;
  color: white;
  height: auto;
  border-radius: 2px;
  font-weight: bolder;
  width: 125px;
}

.specifictopics {
  width: 100%;
}

.specifictopics .fullsection {
  width: 100%;
}

.specifictopics .fullsection .mainsection {
  width: 100%;
  border-bottom: 0.5px solid rgb(214, 211, 211);
}

.specifictopics .fullsection .mainsection .sectionname {
  width: 100%;
  padding: 15px 15px;
}

.specifictopics .fullsection .mainsection .sectionname p {
  color: #e7131a;
  font-size: 1.2rem;
  font-weight: bolder;
}

.specifictopics .fullsection .mainsection .mainimage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.specifictopics .fullsection .mainsection .mainimage img {
  width: 480px;
  height: 280px;
  object-fit: cover;
}

.specifictopics .fullsection .mainsection .date {
  display: flex;
  padding: 10px;
}

.specifictopics .fullsection .mainsection .date img {
  transform: scale(0.7);
  font-weight: lighter;
  color: rgb(206, 200, 200);
  margin-top: -6px;
  opacity: 0.6;
}

.specifictopics .fullsection .mainsection .date p {
  font-size: 12px;
  font-weight: 700;
  color: rgb(206, 200, 200);
}

.specifictopics .fullsection .mainsection .caption {
  width: 100%;
  padding: 10px 15px;
  margin-top: -15px;
}

.specifictopics .fullsection .mainsection .caption p {
  font-size: 18px;
  font-weight: bolder;
}

.specifictopics .fullsection .morestories {
  width: 100%;
}

.specifictopics .fullsection .morestories .otherstories {
  width: 100%;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-bottom: 0.5px solid rgb(214, 211, 211);
  margin-left: 10px;
}

.specifictopics .fullsection .morestories .otherstories .videos {
  margin-right: 15px;
  height: 80px;
}

.specifictopics .fullsection .morestories .otherstories .videos img {
  width: 120px;
  height: 80px;
}

.specifictopics .fullsection .morestories .otherstories .datetext {
  width: 80%;
}

.specifictopics .fullsection .morestories .otherstories .datetext .date {
  width: 100%;
  display: flex;
}

.specifictopics .fullsection .morestories .otherstories .datetext .date img {
  transform: scale(0.7);
  font-weight: lighter;
  color: rgb(206, 200, 200);
  opacity: 0.5;
  margin-top: -4px;
}

.specifictopics .fullsection .morestories .otherstories .datetext .date p {
  width: 100%;
  color: rgb(206, 200, 200);
  font-size: 14px;
}

.specifictopics .fullsection .morestories .otherstories .datetext .text {
  width: 90%;
}

.specifictopics .fullsection .morestories .otherstories .datetext .text p {
  width: 90%;
  font-size: 14px;
  font-weight: bolder;
}
